<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.guangzhida.xiaomai.server">

    <uses-sdk tools:overrideLibrary="com.ypx.imagepicker" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--录音权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.DeviceListActivity" />
        <activity android:name=".ui.SchoolListActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".ui.SchoolCardListActivity" />
        <activity android:name=".ui.UserActivity" />
        <activity android:name=".ui.ChatSearchActivity" />
        <activity android:name=".ui.ChatMessageRecordListActivity" />
        <activity android:name=".ui.ServiceHelpActivity" />
        <activity android:name=".ui.WebActivity" />
        <activity android:name=".ui.PersonInfoActivity" />
        <activity android:name=".ui.MessageSettingActivity" />
        <activity android:name=".ui.ForgetPasswordActivity" />
        <!--预览图片-->
        <activity android:name=".view.preview.PreviewResultListActivity" />
        <activity
            android:name=".ui.ChatActivity"
            android:launchMode="singleTask" />

        <service android:name=".TaskService" />


        <!--检测开机广播启动聊天后台服务-->
        <receiver android:name=".chat.StartChatServiceReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <!-- 设置环信应用的appkey -->
        <!--        <meta-data-->
        <!--            android:name="EASEMOB_APPKEY"-->
        <!--            android:value="bian1317#test" />-->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1116191019107908#school" />
    </application>

</manifest>
